body{
    background-color: #0C7489;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #D7D9CE;
    text-align: center;
}

.game-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
}

.playarea{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap:wrap;
    
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 10px;
    box-shadow: -1px 1px 3px 1px #040404;
}

#reset{
    width: 20vmin;
    height: 5vmin;
    border-radius: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #6E6F69;
    color: #D7D9CE;
}